body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
}

h1 {
  color: #bfa144; /* dourado */
}

button {
  background-color: #bfa144;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #a68f34;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 200px;
}
